CompileFlags:
  Remove:
    - "-fno-tree-switch-conversion"
    - "-mtext-section-literals"
    - "-mlongcalls"
    - "-mlong-calls"
    - "-fstrict-volatile-bitfields"
    - "-mfix-esp32-psram-cache-strategy=*"
    - "-mfix-esp32-psram-cache-issue"

Diagnostics:
  Suppress:
    - unknown-argument

---
If:
  PathMatch: ".*/\\.platformio/.*"
Diagnostics:
  Suppress:
    - "*"
